@use '../styles/global_variables.scss';

.display_controls {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 1rem auto;

    span {
        font-size: .8rem;
    }

    select,
    option {
        font-family: global_variables.$global_fonts;
        font-size: .75rem;
    }

    button {
        font-family: global_variables.$global_fonts;
        background-color: #aabbcc;
        color: white;
        text-shadow: 1px 1px 3px #333;
        border: none;
        border-radius: 2px;
        padding: 4px 8px;
        font-weight: 500;
        cursor: pointer;
    }
}

.fix_table {
    background: white;
    margin: 1rem auto;
    border: 1px solid #777;
    width: 95%;
    text-align: left;
    border-collapse: collapse;

    thead {
        th {
            border: 1px solid #777;
            text-align: center;
            padding: 0.25rem;
            font-size: .85rem;
        }
    }

    tbody {
        td {
            padding: 5px;
            border: 1px solid #777;
            border-bottom: none;
            border-top: none;
            font-size: .8rem;
            text-align: center;
        }

        td:nth-child(4) {
            text-align: left;
            padding-left: 8px;
        }

        tr.selected_row {
            background-color: rgb(255, 255, 150);
        }

    }

    tr:nth-child(even) {
        background-color: rgb(198 218 233);
    }

}