@use '../styles/global_variables.scss';

.layout_container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    .main_container{
        background-image: linear-gradient(#93a4ad, #d5eafb);
        padding: 2%;
        min-height: 98vh;
    }
}