@use '../styles/global_variables.scss';

.ro_form {
    font-family: global_variables.$global_fonts;
    font-size: .85rem;
    width: 96%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .membranes_inputs_container {
        width: 100%;

        >p {
            width: 90%;
            margin: 0 auto;
        }

        h2 {
            text-align: left;
            margin: 0 auto;
            width: 90%;
            
        }
    }

    .form_row {
        width: 95%;
        margin: 5px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        .membranes_inputs {
            width: 80%;
        }

        .input_container {
            display: flex;
            flex-direction: column;
            margin-bottom: .7rem;
        }

        .input_container_row {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: .7rem;

            label {
                margin-right: 1rem;
            }

            input {
                flex-grow: 1;
            }

        }
    }

    label {
        margin: 5px;
    }

    input,
    select {
        padding: 4px;
        border: 1px solid black;
    }

    hr {
        width: 80%;
        border-bottom: 1px solid #555;
        margin: 1rem auto;
    }

    input[type='submit'] {
        padding: 8px;
        background: linear-gradient(160deg, white 20%, global_variables.$darkbluegrey);
        font-family: global_variables.$global_fonts;
        font-size: 1rem;
        font-weight: 600;
        border-radius: 3px;
    }



}

@media screen and (min-width: 720px) {
    .membranes_inputs_container {
        >p {
            width: 70%;
            margin: 0 auto;
        }
    }
}