@use '../styles/global_variables.scss';

.section_history_container {
    font-family: global_variables.$global_fonts;
    font-size: .9rem;
    font-weight: 500;
    width: 98%;
    margin: 10px auto;
    background-color: white;

    h3 {
        padding-left: 10px;
        background-color: honeydew;
        position: sticky;
        top: 0px;
        height: max-content;
        border: 2px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span{
            text-align: center;
            padding: 5px;
        }
        
        .time_remaining{
            font-size: .8rem;
        }
    }


    table{
        width: 100%;
        margin: 0 auto;
        border-collapse: collapse;
        border-left: 2px solid black;
        border-right: 2px solid black;
        border-bottom: 2px solid black;

        thead{
            position: sticky;
            top: 1.5rem;
            background-color: white;
            box-shadow: 0px 2px black;
        }

        td, th{
            text-align: center;
        }

        td:nth-child(1){
            font-size: .75rem;
        }

        th {
            padding: 5px 0px;
            border-bottom: 1px solid black;
        }

        tr:nth-child(even){
            background-color: rgba(235,235,230,.6);
        }
    }
}

@media screen and (min-width: 720px) {
    .section_history_container{
        width: 19%;
    }
    
}