@use '../styles/global_variables';

.hourly_container {
    width: 90%;
    margin: 0 auto;

    h2 {
        font-size: .9rem;
        margin: 5px auto;
        text-align: left;
    }
    hr {
        margin: 5px;
    }
    .hourly_record {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        >* {
            margin: 5px;
            display: flex;
            align-items: center;
            width: 40%;
            justify-content: center;
        }

        >*:nth-child(1){
            width: 20%;
            justify-content: flex-start;
        }
    }
    .hourly_icon{
        border-radius: 4px;
        background-color: global_variables.$darkbluegrey;

        >*{
            justify-content: flex-end;
        }
    }
}

@media screen and (min-width: 720px) {
    .hourly_record {
        flex-direction: column;
    }

}